---
layout: base
title: Accordion
---

<div class="accordion-container">
    <div class="accordion" data-theme="cheese">
        <div class="accordion-header">
            <h3 class="accordion__title">Title</h3>

            <div class="accordion-indicator">
                <p class="indicator-plus">+</p>
                <p class="indicator-minus">&mdash;</p>
            </div>
        </div>

        <div class="accordion-content">
            <div class="accordion-content_inner">
                <p>The accordion content is here</p>
            </div>
        </div>
    </div>
    
    <div class="accordion" data-theme="cheese">
        <div class="accordion-header">
            <h3 class="accordion__title">Title</h3>

            <div class="accordion-indicator">
                <p class="indicator-plus">+</p>
                <p class="indicator-minus">&mdash;</p>
            </div>
        </div>

        <div class="accordion-content">
            <div class="accordion-content_inner">
                <p>The accordion content is here</p>
            </div>
        </div>
    </div>
</div>