---
layout: base.njk 
title: Countdown
---

<div id="dreamin">
    <h5>Dreamin</h5>
    <div class="is-countdown">
        <div class="days"><span>00</span> Days</div>
        <div class="hours"><span>00</span> Hours</div>
        <div class="minutes"><span>00</span> Minutes</div>
        <div class="seconds"><span>00</span> Seconds</div>
    </div>
</div>
<div id="summit">
    <h5>Summit</h5>
    <div class="is-countdown">
        <div class="days"><span>00</span> Days</div>
        <div class="hours"><span>00</span> Hours</div>
        <div class="minutes"><span>00</span> Minutes</div>
        <div class="seconds"><span>00</span> Seconds</div>
    </div>
</div>
<div id="funday">
    <h5>Fun day</h5>
    <div class="is-countdown">
        <div class="days"><span>00</span> Days</div>
        <div class="hours"><span>00</span> Hours</div>
        <div class="minutes"><span>00</span> Minutes</div>
        <div class="seconds"><span>00</span> Seconds</div>
    </div>
</div>