---
layout: base.njk 
title: Countdown
---

{% import "countdown.njk" as countdown %}

{{ countdown.countdown({
    container: 'dreamin',
    date: '2024-03-26',
    postMessage: "Hi"
}) }}

{{ countdown.countdown({
    container: 'summit',
    date: '2024-03-25',
    time: '20:00:00',
    postMessage: 'Woo! IT’S DONE!'
}) }}

{{ countdown.countdown({
    container: 'dreamforce',
    date: '2024-03-27',
    time: '21:30:00'
}) }}

{# TO USE COUNTDOWN V1 #}

{# <div id="dreamin">
    <div class="is-countdown">
        <div class="days"><span>00</span> Days</div>
        <div class="hours"><span>00</span> Hours</div>
        <div class="minutes"><span>00</span> Minutes</div>
        <div class="seconds"><span>00</span> Seconds</div>
    </div>
</div> #}
